<!DOCTYPE html>
<html>
<head>
    <title>Вхід — GameVault</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <button id="theme-toggle" class="theme-toggle">🌙</button>

    <h2>Вхід</h2>

    {% if error %}
        <p style="color:#ef4444; font-weight:500;">
            {{ error }}
        </p>
    {% endif %}

    <form method="post">
        <input name="username" placeholder="Логін" required>
        <input name="password" type="password" placeholder="Пароль" required>
        <button>Увійти</button>
    </form>

    <a href="/">На головну</a>
</div>

<script src="/static/theme.js"></script>
</body>
</html>
